@import "varibles.scss";
@import "function.scss";
@import "resset.scss";
html{
  font-size: 16px;
}
body{
  font-family: $SpaceMono,$workSans,sans-serif;
}
.header-container{
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 10px;
}
.container{
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
}

.common-text {
  font-family: $SpaceMono;
  font-style: normal;
  font-weight: 400;
  font-size: size(16);
  line-height: size(30);
}

.common-blue-headlines {
  font-family: $SpaceMono;
  font-style: normal;
  font-weight: 700;
  font-size: size(20);
  line-height: size(30);
  text-transform: uppercase;
  color: $blue100;
}

.footer-common-text {
  font-family: $SpaceMono;
  font-style: normal;
  font-weight: 400;
  font-size: size(18);
  line-height: size(24);
  text-align: center;
  color: $gray800;
}

.footer-common-headlines {
  font-family: $workSans;
  font-style: normal;
  font-weight: 700;
  font-size: size(18);
  line-height: size(24);
  text-align: center;
  text-transform: uppercase;
  color: $gray800;
}
.main-button {
  font-family: $SpaceMono;
  font-style: normal;
  font-weight: 700;
  font-size: size(16);
  line-height: size(24);
  text-transform: uppercase;
  color: $gray50;
  background: $blockGradient;
  border-radius: size(5);
  padding: 13px 27px 14px 26px;
  text-decoration: none;
  transition: 1.3s;
}

.buttons-font {
  font-family: $workSans;
  font-style: normal;
  font-weight: 300;
  font-size: size(16);
  line-height: size(19);
  text-transform: uppercase;
  color: $gray800;
  text-decoration: none;
}

// Використовується тільки в блоках about,Home,Alumni
.text-about-person {
  font-family: $workSans;
  font-style: normal;
  font-weight: 400;
  font-size: size(16);
  line-height: size(24);
  text-align: center;
  color: $blue100;
}