@import "varibles.scss";
@import "function.scss";
@import "resset.scss";
html{
  font-size: 16px;
}
body{
  font-family: $SpaceMono,$workSans,sans-serif;
}
.header-container{
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 10px;
}
.container{
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
}