@import "../css/varibles.scss";
@import "../css/function.scss";
@import "../css/fonts.scss";

// $SpaceMono;
// $workSans;

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

body {
    header {
        padding-top: 50px;
        .container {
            nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
                .logo {
                    img {
                    }
                }
            .nav-bar {
                .nav-list {
                    display: flex;
                    li {
                        list-style-type: none;
                        margin-right: 20px;
                        .buttons-font {
                            transition: 0.9s;
                            padding: 13px 8px 12px 10px;
                            border: 1px solid transparent;
                            &:hover {
                                background: #FFFFFF;
                                border: 1px solid #ACACAC;
                                border-radius: 5px;
                            }
                        }
                        .main-button {
                            &:hover {
                                color: rgb(15, 29, 92);
                            }
                        }
                    }
                }
            }
        }
    }
    }
    .about-developers {
        padding-top: 77px;
        .about-developers-contain {
            max-width: 1120px;
            padding: 0 10px;
            margin: 0 auto;
        
    .about-developers-wrapper {
        display: flex;
        justify-content: space-between;
        .wrapper-text {
            max-width: 337px;
        }
    }
    }}
    .benefits {
        padding-top: 65px;
        padding-bottom: 107px;
        .benefits-caontain {
            max-width: 1123px;
            padding: 0 10px;
            margin: 0 auto;
        .betefits-wrapper {
            display:flex;
            flex-wrap:wrap;
            justify-content: space-between;
            .betefits-wrapper-item {
                flex: 0 1 50%;
                background: #F3EEEE;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                max-width: 549px;
                margin-bottom: 21px;
                .item-padding {
                    padding: 22px 15px 25px 36px;
                }
            }
        }
    }
}
.input-field {
    background: url(../img/supporters/blueBackground.png) no-repeat;
    background-position: center 10%;
    background-size: 100%;
}
.support {
    padding-bottom: 76px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .puddle-text {
            min-width: 327px;
            position: relative;
            h4 {
                position: absolute;
                top: 97px;
                right: 61px;
            }
        }
        .support-list {
            max-width: 622px;
            ul {
                li {
                    position: relative;
                    list-style-type: none;
                    margin-bottom: 23px;
                    &::before {
                        content:url("../img/supporters/arr.png");
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: 1;
                        top: -25px;
                        left: -79px;
                    }
                }
            }
        }
    }
}
.footer {
    padding-bottom: 105px;
    .container {
        .footer-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            &::before {
                content: "";
                background: #CECBCB;
                width: 100%;
                height: 2px;
                position: absolute;
                z-index: 1;
                top: 0px;
                left: 0px;
            }
            .footer-wrapper-information {
                h4 {
                    margin-bottom: 55px;
                    margin-top: 56px;
                }
                p {
                    max-width: 337px;
                    margin: 0 auto;
                }
            }
            .footer-wrapper-logos {
                .footer-wrapper-logos-list {
                    margin-top: 90px;
                    a {
                        margin-right: 52px;
                    }
                }
                
            }
        }
    }
}

}