@import "../css/varibles.scss";
@import "../css/function.scss";
@import "../css/fonts.scss";

// $SpaceMono;
// $workSans;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}


img {
    max-width: 100%;
    width: auto;
    height: auto;
}

body {
    header {
        padding-top: 50px;
        .container {
            nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
                .logo {
                    img {
                    }
                }
            .nav-bar {
                .nav-list {
                    display: flex;
                    li {
                        list-style-type: none;
                        margin-right: size(20);
                        .buttons-font {
                            transition: 0.9s;
                            padding: 13px 8px 12px 10px;
                            border: 1px solid transparent;
                            &:hover {
                                background: #FFFFFF;
                                border: 1px solid #ACACAC;
                                border-radius: 5px;
                            }
                        }
                        .main-button {
                            &:hover {
                                color: rgb(15, 29, 92);
                            }
                        }
                    }
                }
            }
        }
    }
    }
    .about-developers {
        padding-top: size(77);
        .about-developers-contain {
            max-width: 1120px;
            padding: 0 10px;
            margin: 0 auto;
        
    .about-developers-wrapper {
        display: flex;
        justify-content: space-between;
        .wrapper-text {
            max-width: size(337);
        }
    }
    }}
    .benefits {
        padding-top: size(65);
        padding-bottom: size(107);
        .benefits-caontain {
            max-width: 1123px;
            padding: 0 10px;
            margin: 0 auto;
        .betefits-wrapper {
            display:flex;
            flex-wrap:wrap;
            justify-content: space-between;
            .betefits-wrapper-item {
                flex: 0 1 50%;
                background: #F3EEEE;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                border-radius: size(20);
                max-width: size(549);
                margin-bottom: size(21);
                .item-padding {
                    padding: 22px 15px 25px 36px;
                }
            }
        }
    }
}
.input-field {
    background: url(../img/supporters/blueBackground.png) no-repeat;
    background-position: center 1%;
    background-size: 100%;
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1231px;
            padding: 0 10px;
            margin: 0 auto;
        .input-field-form {
            margin-top: size(22);
            .input-field-form-wrapper {
                .form-content-button {
                    text-align: right;
                    margin-top: size(24);
                    margin-bottom: size(24);
                    button {
                        font-family: $SpaceMono;
                        font-style: normal;
                        font-weight: 700;
                        font-size: size(16);
                        line-height: size(24);
                        text-transform: uppercase;
                        color: #000000;
                        background: linear-gradient(90deg, #EBF1FB -12.35%, #FFFFFF 112.35%);
                        border-radius: size(5);
                        padding: 14px 81px 13px 79px;
                        border: none;
                        cursor: pointer;
                        transition: 0.8s;
                        &:hover {
                            color: #669DF8;
                        }
                    }
                }
                .form-content {
                    background: #E1E9F7;
                    border: 4px solid #E1E9F7;
                    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 20px 0px 0px 20px;
                    min-width: size(497);
                    .form-content-radio {
                        margin-top: size(17);
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        margin-bottom: size(40);
                    }
                        .checkbox-btn-group {
                            margin-bottom: size(53);
                            p {
                                margin-left: size(40);
                                font-family: $SpaceMono;
                                font-style: normal;
                                font-weight: 700;
                                font-size: size(14);
                                line-height: size(11);
                                color: #75787E;
                            }
                            ul.ks-cboxtags {
                                list-style: none;
                                display: flex;
                            }
                            
                            ul.ks-cboxtags li{
                                display: inline;
                            }
                            
                            ul.ks-cboxtags li label{
                                display: inline-block;
                                background: #E1E9F7;
                                border: 1px solid #669DF8;
                                white-space: nowrap;
                                -webkit-touch-callout: none;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;
                                -webkit-tap-highlight-color: transparent;
                                font-family: $SpaceMono;
                                font-style: normal;
                                font-weight: 700;
                                font-size: size(14);
                                line-height: size(21);
                                color: #75787E;
                                transition: all .2s;
                            }
                            
                            ul.ks-cboxtags li label {
                                padding: 4px 12px 4px 9px;
                                cursor: pointer;
                            }
                            
                            ul.ks-cboxtags li label::before {
                                display: inline-block;
                                font-style: normal;
                                font-variant: normal;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                font-family: $SpaceMono;
                                font-weight: 900;
                                font-size: size(12);
                                transition: transform .3s ease-in-out;
                            }
                            ul.ks-cboxtags li input[type="checkbox"]:checked + label {
                                border: 1px solid #669DF8;
                                background-color: #669DF8;
                                color: #fff;
                                transition: all .2s;
                            }
                            
                            ul.ks-cboxtags li input[type="checkbox"] {
                                display: absolute;
                            }
                            
                            ul.ks-cboxtags li input[type="checkbox"] {
                                position: absolute;
                                opacity: 0;
                            }
                            input[type=number]::-webkit-inner-spin-button, 
                            input[type=number]::-webkit-outer-spin-button { 
                                -webkit-appearance: none; 
                                margin: 0; 
                            }
                        }
                        .form-content-amount-input {
                            padding-left: size(43);
                            margin-bottom: size(30);
                            p {
                                font-family: $SpaceMono;
                                font-style: normal;
                                font-weight: 700;
                                font-size: size(14);
                                line-height: size(21);
                                color: #75787E;
                            }
                            input {
                                display: inline-block;
                                border-color: transparent;
                                outline:none;
                                background: #E1E9F7;
                                padding-bottom: 12px;
                                font-family: $SpaceMono;
                                font-style: normal;
                                font-weight: 700;
                                font-size: size(24);
                                line-height: size(36);
                                color: #75787E;
                                width: 90%;
                                &:focus {
                                    border-bottom: 2px solid #CECBCB;
                                }
                            }
                        }
                        .form-content-text {
                            padding-left: size(38);
                            textarea {
                                background: #E1E9F7;
                                outline:none;
                                font-family: $SpaceMono;
                                font-style: normal;
                                font-weight: 700;
                                font-size: size(14);
                                line-height: size(21);
                                color: #75787E;
                                resize: none;
                                width: 90%;
                                border: 4px solid #E1E9F7;
                                filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.29));
                                transition: 0.5s;
                                margin-bottom: size(56);
                                &:focus {
                                    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
                                }
                             }
                        }
                }
            }
        }
        .input-field-text {
            h4 {
                font-family: $SpaceMono;
                font-style: normal;
                font-weight: 700;
                font-size: size(20);
                line-height: size(30);
                text-transform: uppercase;
                color: #FFFFFF;
                text-align: center;
            }
            p {
                color: #FFFFFF;
                max-width: size(337);
                margin: 0 auto;
            }
        }
    }
}
.support {
    padding-bottom: size(76);
    padding-top: size(69);
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .puddle-text {
            min-width: size(327);
            position: relative;
            h4 {
                position: absolute;
                top: size(97);
                right: size(61);
            }
        }
        .support-list {
            max-width: size(622);
            ul {
                li {
                    position: relative;
                    list-style-type: none;
                    margin-bottom: size(23);
                    &::before {
                        content:url("../img/supporters/arr.png");
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: 1;
                        top: -25px;
                        left: -79px;
                    }
                }
            }
        }
    }
}
.footer {
    padding-bottom: size(105);
    .container {
        .footer-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            &::before {
                content: "";
                background: #CECBCB;
                width: 100%;
                height: size(2);
                position: absolute;
                z-index: 1;
                top: 0px;
                left: 0px;
            }
            .footer-wrapper-information {
                h4 {
                    margin-bottom: size(55);
                    margin-top: size(56);
                }
                p {
                    max-width: size(337);
                    margin: 0 auto;
                }
            }
            .footer-wrapper-logos {
                .footer-wrapper-logos-list {
                    margin-top: size(90);
                    a {
                        margin-right: size(52);
                    }
                }
                
            }
        }
    }
}

}