@import "../css/varibles.scss";
@import "../css/function.scss";
@import "../css/fonts.scss";


img {
    max-width: 100%;
    width: auto;
    height: auto;
}


body {
    overflow-x: hidden;

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .container-intro {
            max-width: 1220px;
            margin: 0 auto;
            text-align: center;

            .intro-title {
                max-width: 431px;
                height: 341px;
                background: url(../img/volunteers/elipse.svg);
                margin: 50px auto;

                h1 {
                    padding: 95px 0 84px;
                    font-family: $workSans;
                    color: $blue100;
                    font-size: size(64);
                    font-weight: 700;
                    line-height: size(79);
                    text-align: center;
                    text-transform: uppercase;
                    transform: translate(-0%, -9%);
                    -webkit-transform: translate(-0%, -9%);
                    -moz-transform: translate(-0%, -9%);
                    -ms-transform: translate(-0%, -9%);
                    -o-transform: translate(-0%, -9%);
                }
            }

            .sub-title {
                h2 {
                    font-family: $SpaceMono;
                    color: $black;
                    width: 827px;
                    font-weight: 400;
                    font-size: size(16);
                    line-height: size(30);
                    text-align: center;
                    padding-bottom: 110px;
                    transform: translate(1%, -87%);
                }
            }

            .btn {
                min-width: 210px;
                margin-bottom: 100px;
                cursor: pointer;
                display: inline-block;
                vertical-align: top;
                padding: 22px 23px;
                font-style: $SpaceMono;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
                background: $btnGradient;
                transition: box-shadow 0.16s ease;
                color: $gray50;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                -webkit-transition: box-shadow 0.16s ease;
                -moz-transition: box-shadow 0.16s ease;
                -ms-transition: box-shadow 0.16s ease;
                -o-transition: box-shadow 0.16s ease;
            }

            .btn+.btn {
                margin-left: 215px;
            }

            .btn:hover {
                background: #000080;
                box-shadow: none;
            }
        }
    }

    .why_us {
        padding-top: size(69);
        padding-bottom: size(76);
        background-color: rgba(247, 249, 254, 1);

        .container-us {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .why_volunteers {
                min-width: size(327);
                position: relative;

                h4 {
                    position: absolute;
                    top: size(127);
                    left: size(52);
                }
            }

            .about_volunteers {
                max-width: size(622);

                ul {
                    li {
                        position: relative;
                        list-style-type: none;
                        margin-bottom: size(23);

                        &::before {
                            content: url("../img/volunteers/right arrow.svg");
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            z-index: 1;
                            top: -25px;
                            left: -79px;
                        }
                    }
                }
            }
        }
    }

    .team {
        .container-team {
            display: flex;
            flex-wrap: wrap;
            max-width: 995px;
            margin: 0 auto;

            .Anthony {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                padding-top: 75px;
                margin-bottom: 20px;

                .Anthony_img {
                    display: flex;
                }

                .Anthony_descr {
                    max-width: 441px;
                    padding: 0 15px;
                    margin-left: auto;
                    margin-bottom: 20px;

                    h2 {
                        font-family: $SpaceMono;
                        font-weight: 700;
                        font-size: size(20);
                        line-height: 30px;
                        text-transform: uppercase;
                        color: $blue100;
                        margin-bottom: 10px;
                    }

                    h3 {
                        font-family: $workSans;
                        font-weight: 400;
                        font-size: size(16);
                        line-height: 24px;
                        color: $blue100;
                        margin-bottom: 20px;
                    }

                    p {
                        font-family: $SpaceMono;
                        font-weight: 400;
                        font-size: size(16);
                        line-height: 30px;
                        color: $black;
                        margin-bottom: 60px;
                    }
                }
            }

            .Aeleni {
                display: flex;
                flex-wrap: wrap-reverse;
                flex-direction: row-reverse;
                width: 100%;

                .Aeleni_img {
                    float: left;
                }

                .Aeleni_descr {
                    max-width: 515px;
                    margin-left: auto;

                    h2 {
                        font-family: $SpaceMono;
                        font-weight: 700;
                        font-size: size(20);
                        line-height: 30px;
                        text-transform: uppercase;
                        color: $blue100;
                    }

                    h3 {
                        font-family: $workSans;
                        font-weight: 400;
                        font-size: size(16);
                        line-height: 24px;
                        color: $blue100;
                    }

                    p {
                        font-family: $SpaceMono;
                        font-weight: 400;
                        font-size: size(16);
                        line-height: 30px;
                        color: $black;
                    }
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    .header {
        padding: 50px 70px 63px;
    }

    .intro .container-intro .intro-title h2 {
        padding-right: 75%;
    }

    .why_us .container-us .why_volunteers {
        min-width: 32.4375rem;
        position: relative;
    }
}

@media (max-width: 1000px) {
    .intro .container-intro .btn+.btn {
        padding-right: 40px;
        margin-left: 115px;
    }

    .intro .container-intro .intro-title h1 {
        font-size: 54px;
    }

    .intro .container-intro .sub-title h2 {
        padding-right: 50px;
    }

    body .why_us .container-us .why_volunteers h4 {
        font-size: 16px;
        margin: 0 auto;
        transform: translate(1%, -114%);
        -webkit-transform: translate(1%, -114%);
        -moz-transform: translate(1%, -114%);
        -ms-transform: translate(1%, -114%);
        -o-transform: translate(1%, -114%);
    }

    .team .container-team .Anthony {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 77%;
        padding-left: 100px;
        padding-top: 75px;
    }

    .team .container-team .Anthony_img {
        transform: translate(30%, 10%);
        -webkit-transform: translate(30%, 10%);
        -moz-transform: translate(30%, 10%);
        -ms-transform: translate(30%, 10%);
        -o-transform: translate(30%, 10%);
    }

    .team .container-team .Anthony .Anthony_descr {
        transform: translate(-63%, 10%);
        -webkit-transform: translate(-63%, 10%);
        -moz-transform: translate(-63%, 10%);
        -ms-transform: translate(-63%, 10%);
        -o-transform: translate(-63%, 10%);
    }

    .team .container-team .Aeleni {
        transform: translate(-58%, 10%);
        -webkit-transform: translate(-20%, -7%);
        -moz-transform: translate(-58%, 10%);
        -ms-transform: translate(-58%, 10%);
        -o-transform: translate(-58%, 10%);
    }

    .team .container-team .Aeleni .Aeleni_img {
        transform: translate(-12%, 0);
        -webkit-transform: translate(-12%, 0);
        -moz-transform: translate(-12%, 0);
        -ms-transform: translate(-12%, 0);
        -o-transform: translate(-12%, 0);
    }
}

@media (max-width: 800px) {
    .container-intro {
        transform: translate(-68%, 7%);
        -webkit-transform: translate(-8%, 7%);
        -moz-transform: translate(-68%, 7%);
        -ms-transform: translate(-68%, 7%);
        -o-transform: translate(-68%, 7%);
    }

    body .intro .container-intro .sub-title h2 {
        padding-left: 80px;
        padding-bottom: 30px;
    }

    body .why_us .container-us .about_volunteers {
        margin-right: 35px;
    }

    .team .container-team .Anthony .Anthony_descr {
        transform: translate(-28%, 10%);
        -webkit-transform: translate(-28%, 10%);
        -moz-transform: translate(-28%, 10%);
        -ms-transform: translate(-28%, 10%);
        -o-transform: translate(-28%, 10%);
    }

    .team .container-team .Aeleni {
        transform: translate(-5%, -10%);
        -webkit-transform: translate(-5%, -10%);
        -moz-transform: translate(-5%, -10%);
        -ms-transform: translate(-5%, -10%);
        -o-transform: translate(-5%, -10%);
    }
}

@media (max-width: 550px) {
    body .intro .container-intro .sub-title h2 {
        padding-bottom: 30px;
    }

    body .why_us {
        margin-left: 45px;
    }

    body .team .container-team .Anthony .Anthony_descr {
        transform: translate(10%, 10%);
        -webkit-transform: translate(10%, 10%);
        -moz-transform: translate(10%, 10%);
        -ms-transform: translate(10%, 10%);
        -o-transform: translate(10%, 10%);
    }

    .team .container-team .Aeleni {
        transform: translate(32%, -4%);
        -webkit-transform: translate(32%, -4%);
        -moz-transform: translate(32%, -4%);
        -ms-transform: translate(32%, -4%);
        -o-transform: translate(32%, -4%);
    }
}