@import "../css/varibles.scss";
@import "../css/function.scss";
@import "../css/fonts.scss";
@import "../css/common.css";

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.header {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .container-head {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .header_list {
            display: flex;
            align-items: center;

            .nav_list {
                display: flex;

                li {
                    list-style: none;
                    a {
                        font-family: $workSans;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 19;
                        text-transform: uppercase;
                        color: $gray800;
                        text-decoration: none;
                        padding-right: 42px;
                        a:hover {
                            color: rgb(52, 60,206);
                        }
                    }
                }
            }
        }
    }

}


.why_us {
    padding-bottom: size(76);
    padding-top: size(69);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .why_volunteers {
            min-width: size(327);
            position: relative;

            h4 {
                position: absolute;
                top: size(97);
                right: size(61);
            }
        }

        .about_volunteers {
            max-width: size(622);

            ul {
                li {
                    position: relative;
                    list-style-type: none;
                    margin-bottom: size(23);

                    &::before {
                        content: url("../img/volunteers/arrow.svg");
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: 1;
                        top: -25px;
                        left: -79px;
                    }
                }
            }
        }
    }
}





.footer {
    margin-top: 120px;
    padding-bottom: 105px;

    .container {
        max-width: 1055px;
        margin: 0 auto;
        padding: 0 10px;

        .footer-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            &:before {
                content: "";
                background: #cecbcb;
                width: 100%;
                height: 2px;
                position: absolute;
                z-index: 1;
                top: 0px;
                left: 0px;
            }

            .footer-wrapper-information {
                h4 {
                    margin-top: 56px;
                    margin-bottom: 55px;
                }

                p {
                    max-width: 337px;
                    margin: 0 auto;
                    font-weight: 400;
                }
            }

            .footer-wrapper-list {
                margin-top: 90px;

                a {
                    margin-right: 52px;
                }
            }
        }
    }
}