@font-face {
  font-family: 'Space Mono';
  src: url("../fonts/../fonts/SpaceMono-Italic.woff2") format("woff2"), url("../fonts/../fonts/SpaceMono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url("../fonts/../fonts/SpaceMono-Regular.woff2") format("woff2"), url("../fonts/../fonts/SpaceMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url("../fonts/../fonts/SpaceMono-BoldItalic.woff2") format("woff2"), url("../fonts/../fonts/SpaceMono-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url("../fonts/../fonts/SpaceMono-Bold.woff2") format("woff2"), url("../fonts/../fonts/SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-ExtraLight.woff2") format("woff2"), url("../fonts/WorkSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-ExtraLightItalic.woff2") format("woff2"), url("../fonts/WorkSans-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/WorkSans-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans Hairline';
  src: url("../fonts/WorkSans-Hairline.woff2") format("woff2"), url("../fonts/WorkSans-Hairline.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Light.woff2") format("woff2"), url("../fonts/WorkSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2"), url("../fonts/WorkSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Italic.woff2") format("woff2"), url("../fonts/WorkSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-LightItalic.woff2") format("woff2"), url("../fonts/WorkSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Italic.woff2") format("woff2"), url("../fonts/WorkSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Italic.woff2") format("woff2"), url("../fonts/WorkSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-MediumItalic.woff2") format("woff2"), url("../fonts/WorkSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/WorkSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Bold.woff2") format("woff2"), url("../fonts/WorkSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-BoldItalic.woff2") format("woff2"), url("../fonts/WorkSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2"), url("../fonts/WorkSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Black.woff2") format("woff2"), url("../fonts/WorkSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-Thin.woff2") format("woff2"), url("../fonts/WorkSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-ThinItalic.woff2") format("woff2"), url("../fonts/WorkSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-BlackItalic.woff2") format("woff2"), url("../fonts/WorkSans-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url("../fonts/WorkSans-ExtraBold.woff2") format("woff2"), url("../fonts/WorkSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body .header header {
  padding: 50px 0 63px;
}

body .header header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header header .header-container nav .toggle-btn {
  display: none;
}

body .header header .header-container nav .header-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header header .header-container nav .header-menu li {
  margin: 0 5px;
}

body .header header .header-container nav .header-menu li a {
  font-family: "Work Sans", "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #2d3037;
  text-transform: uppercase;
  padding: 13px 9px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid transparent;
  border-radius: 5px;
}

body .header header .header-container nav .header-menu li a:hover {
  border: 1px solid #acacac;
  background-color: #ddd9d9;
}

body .header header .header-container nav .header-menu .btn {
  position: relative;
}

body .header header .header-container nav .header-menu .btn:hover .dropdown-menu {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

body .header header .header-container nav .header-menu .btn:hover .dropdown-menu .dropdown-item {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

body .header header .header-container nav .header-menu .btn .dropdown-menu {
  padding: 0;
  position: absolute;
  left: 0;
  top: 180%;
  border: 1px solid #c4c4c4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

body .header header .header-container nav .header-menu .btn .dropdown-menu .dropdown-item {
  margin: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

body .header header .header-container nav .header-menu .btn .dropdown-menu .dropdown-item a {
  padding: 9px 10px;
  display: block;
  width: 100%;
  border: 1px solid transparent;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
  border-radius: 0;
}

body .header header .header-container nav .header-menu .btn .dropdown-menu .dropdown-item a:hover {
  font-weight: 600;
  background-color: #c4c4c4;
}

body .header header .header-container nav .header-menu .btn a {
  border: 1px solid #acacac;
}

body .header header .header-container nav .header-menu .grd-btn a {
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #fefefe;
  background: -webkit-gradient(linear, left top, right top, color-stop(-12.35%, #4a50bb), color-stop(112.35%, #669dff));
  background: linear-gradient(90deg, #4a50bb -12.35%, #669dff 112.35%);
  padding: 13px 26px;
}

body .title h1 {
  text-align: center;
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  font-size: 3.4375rem;
  line-height: 53px;
  text-transform: uppercase;
  color: #4a50bb;
}

body .alumni {
  padding: 92px 20px 135px;
  background-color: #f7f9fe;
}

body .alumni img {
  max-width: 377px;
}

body .alumni .edouardo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .alumni .edouardo .edouardoText {
  padding: 0 395px 0 100px;
}

body .alumni .ramzi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .alumni .ramzi .ramziText {
  padding: 50px 395px 0 100px;
}

body .alumni .gita,
body .alumni .hanim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .alumni .gita .gitaText,
body .alumni .gita .hanimText,
body .alumni .hanim .gitaText,
body .alumni .hanim .hanimText {
  padding: 50px 100px 0 395px;
}

body .alumni .edouardoText h2,
body .alumni .gitaText h2,
body .alumni .ramziText h2,
body .alumni .hanimText h2 {
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 30px;
  text-transform: uppercase;
  color: #4a50bb;
}

body .alumni .edouardoText h3,
body .alumni .gitaText h3,
body .alumni .ramziText h3,
body .alumni .hanimText h3 {
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #4a50bb;
}

body .alumni .edouardoText p,
body .alumni .gitaText p,
body .alumni .ramziText p,
body .alumni .hanimText p {
  font-family: "Space Mono", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 30px;
  color: #000;
}

body .alumni .edouardoImg img,
body .alumni .gitaImg img,
body .alumni .ramziImg img,
body .alumni .hanimImg img {
  -webkit-box-shadow: 0px 0px 0px 10px #e1e9f6;
          box-shadow: 0px 0px 0px 10px #e1e9f6;
  border-radius: 5px;
}

body footer {
  padding: 30px 0 105px;
  background: #fff;
}

body footer .container {
  padding-top: 55px;
  border-top: 2px solid #75787e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer .container .block {
  width: 45%;
}

body footer .container .footer-list {
  padding: 0;
}

body footer .container .footer-common-headline {
  text-align: center;
  margin-bottom: 55px;
}

body footer .container .footer-common-text {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

body footer .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 250px;
  margin: auto 0;
}

@media (max-width: 1199px) {
  body .alumni .edouardo .edouardoText {
    padding-left: 5%;
    padding-right: 10%;
  }
  body .alumni .gita .gitaText,
  body .alumni .gita .hanimText,
  body .alumni .hanim .gitaText,
  body .alumni .hanim .hanimText,
  body .alumni .ramzi .ramziText {
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 50px;
  }
  body .alumni {
    padding: 32px 20px  50px;
  }
  body footer {
    padding: 30px 0 50px;
  }
}

@media (max-width: 991px) {
  body .title h1 {
    font-size: 1.875rem;
    line-height: 20px;
  }
  body .edouardoText p,
  body .gitaText p,
  body .ramziText p,
  body .hanimText p {
    font-size: 0.875rem;
    line-height: 25px;
  }
  body .alumni img {
    max-width: 300px;
  }
  body .edouardoText h2, body .gitaText h2,
  body .ramziText h2,
  body .hanimText h2 {
    font-size: 1.125rem;
    line-height: 18px;
  }
}

@media screen and (max-width: 846px) {
  body .header {
    position: relative;
  }
  body .header header .header-container nav {
    width: 100%;
  }
  body .header header .header-container nav .toggle-btn {
    display: block;
    height: 50px;
    width: 50px;
    padding: 10px;
    margin-left: auto;
    border-radius: 5px;
    border: 2px solid #2d3037;
  }
  body .header header .header-container nav .toggle-btn .line {
    width: 100%;
    height: 4px;
    background-color: #75787e;
    margin-bottom: 8px;
    border-radius: 3px;
  }
  body .header header .header-container nav .header-menu {
    position: absolute;
    left: 0;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  body .header header .header-container nav .header-menu li {
    text-align: center;
    width: 100%;
    background-color: #f7f9fe;
    border-bottom: 2px solid #75787e;
    padding: 25px 0;
  }
  body .header header .header-container nav .header-menu .btn .dropdown-menu {
    top: -200%;
  }
  body .header header .header-container nav .hide {
    -webkit-transform: translateY(-500%);
            transform: translateY(-500%);
  }
}

@media (max-width: 767px) {
  body .title h1 {
    font-size: 1.5625rem;
    line-height: 0px;
  }
  body .alumni .edouardo,
  body .alumni .ramzi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .gita,
  body .hanim {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .alumni .edouardo .edouardoText,
  body .alumni .gita .gitaText,
  body .alumni .hanim .hanimText,
  body .alumni .ramzi .ramziText {
    text-align: center;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
  }
  body .alumni img {
    max-width: 377px;
  }
  body footer .container {
    padding-top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body footer .container .block {
    width: 80%;
  }
  body footer .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: auto 0;
    padding: 20px 100px 0;
    max-width: none;
  }
}

@media (max-width: 500px) {
  body .gita .gitaText,
  body .gita .hanimText,
  body .hanim .gitaText,
  body .hanim .hanimText,
  body .alumni .ramzi .ramziText {
    padding-top: 30px;
  }
}
/*# sourceMappingURL=alumni.css.map */