@import "../css/varibles.scss";
@import "../css/function.scss";
@import "../css/fonts.scss";
@import "../css/common.scss";

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.header {
    padding-top: 50px;

    .container-header {
        max-width: 1260px;
        padding: 0 10px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .menu {
            display: flex;
            align-items: center;

            .sub-menu {
                display: flex;

                li {
                    list-style: none;

                    a {
                        font-family: $workSans;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 19px;
                        text-transform: uppercase;
                        color: $gray800;
                        text-decoration: none;
                        padding-right: 42px;

                        &:hover {
                            color: rgb(52, 60, 206);
                        }
                    }
                }
            }

            .select-header {
                padding-top: 5px;

                select {
                    max-width: 100px;
                    font-family: $workSans;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    text-transform: uppercase;
                    color: $gray800;
                    padding: 8px 0 8px 9px;
                    border: 1px solid #2D3037;
                    border-radius: 5px;

                    &:hover {
                        cursor: pointer;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }

            .btn-header {
                padding-left: 66px;

                a {
                    background: $headBtnGradient;
                    text-decoration: none;
                    padding: 13px 28px;
                    text-transform: uppercase;
                    border-radius: 5px;
                    color: $gray50;
                }
            }
        }
    }
}

.career {
    .container-career {
        max-width: 1220px;
        margin: 0 auto;
        padding: 117px 40px 49px 40px;

        .career-block1 {
            display: flex;
            align-items: center;

            .career-text {
                background: url(../img/program/bg-block1.png);
                margin-right: 27px;
                max-width: 449px;

                h1 {
                    font-family: $workSans;
                    color: $blue100;
                    font-size: 64px;
                    font-weight: 700;
                    line-height: 79px;
                    text-transform: uppercase;
                    text-align: center;
                }
            }

            .career-img {
                img {
                    border: solid 3px gray;
                    border-radius: 14px;
                }
            }
        }

        .career-block2 {
            display: flex;
            justify-content: space-between;
            padding-top: 61px;
            max-width: 1015px;
            margin: 0 auto;

            .career-desc {
                p {
                    max-width: 833px;
                    font-family: $SpaceMono;

                    &:nth-child(2) {
                        margin-top: 50px;
                        margin-bottom: 75px;
                    }

                    &:nth-child(3) {
                        margin-bottom: 50px;
                    }
                }
            }

            .btn-career {
                align-self: end;
                margin-left: 31px;

                a {
                    background: $headBtnGradient;
                    text-decoration: none;
                    padding: 13px 28px;
                    text-transform: uppercase;
                    border-radius: 5px;
                    color: $gray50;
                    display: block;
                }
            }
        }

    }
}

.apply {
    padding-top: 78px;
    padding-bottom: 83px;
    background: $gray100;

    .container-apply {
        max-width: 1120px;
        margin: 0 auto;
        padding: 0 70px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .apply-title {
            margin-left: 40px;

            h2 {
                font-family: $SpaceMono;
                font-size: 20px;
                text-transform: uppercase;
                color: $blue100;
            }
        }

        .apply-text-wrap {
            display: flex;
            justify-content: space-between;

            .apply-text {

                p {
                    max-width: 464px;
                    color: $black;
                    font-family: $SpaceMono;
                    font-size: 16px;
                    line-height: 30px;
                }
            }

            .apply-list {
                position: relative;
                max-width: 519px;

                ul {
                    li {
                        list-style: none;
                        color: $black;
                        font-family: $SpaceMono;
                        font-size: 16px;
                        margin-bottom: 45px;

                        &:before {
                            content: url(../img/program/chevron-right.png);
                            position: absolute;
                            left: -4px;
                            background: #E7F0FF;
                            border-radius: 16px;
                            box-shadow: 20px 17px 22px 12px rgba(0, 0, 0, 0.66);
                            -webkit-box-shadow: 7px 8px 15px 0px rgb(0 0 0 / 38%);
                            -moz-box-shadow: 20px 17px 22px 12px rgba(0, 0, 0, 0.66);
                        }
                    }
                }
            }
        }

    }
}

.program {
    padding-top: 73px;
    padding-bottom: 61px;
    .container-program {
        max-width: 1089px;
        margin: 0 auto;
        h2 {
            font-family: $SpaceMono;
            font-size: 20px;
            text-transform: uppercase;
            color: $blue100;
        }
        .program-wrap{
            display: flex;
            .program-btns{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                a{  
                    font-family: $SpaceMono;
                    font-size: 16px;
                    text-transform: uppercase;
                    color: $white;
                    cursor: pointer;
                    background: $btnGradient;
                    padding: 14px 45px;
                    border-radius: 10px;
                }
                .program-btn1{
                    font-family: $SpaceMono;
                    font-size: 16px;
                    text-transform: uppercase;
                    color: $white;
                    background: $btnGradient;
                    border-radius: 10px;
                    padding: 14px 45px;
                }
            }
        }
    }
}
.project{
    background: $gray150;
    .container-project{
        max-width: 1260px;
        margin: 0 auto;
        .project-title{
            z-index: 2;
            position: relative;
            display: flex;
            justify-content: space-between;
            .final{
                background: url(../img/program/bg-block4.png);
                max-width: 608px;
                h3{
                    color: #121665;
                    font-size: 20px;
                    font-family: $SpaceMono;
                    font-weight: 700;
                    margin-left: 89px;
                }
                p{
                    max-width: 466px;
                    text-align: start;
                    margin: 0 auto;
                    padding: 0 72px;
                }
            }
            h1{
                color: $blue100;
                font-size: 64px;
                font-family: $workSans;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        .project-img{
            padding: 0 50px;
            img{
                margin-top: -70px;
                z-index: 1;
                border: solid 6px #E1E9F6;
                border-radius: 18px;
            }
        }
        .project-btn{
            margin-left: 89px;
            margin-top: 26px;
            a{
                background: $btnGradient;
                color: $gray50;
                font-family: $SpaceMono;
                text-decoration: none;
                text-transform: uppercase;
                padding: 14px 35px;
                border-radius: 7px;
                display: inline-block;
            }
        }
    }
}
.towards{
    background: $gray150;
    padding-top: 50px;
    padding-bottom: 115px;
    .container-towards{
        max-width: 1155px;
        margin: 0 auto;
        .towards-wrap{
            display: flex;
            justify-content: space-between;
            .towards-text{
                p{
                    max-width: 451px;
                }
                .towards-btn{
                    margin-top: 25px;
                    a{
                        background: $btnGradient;
                        color: $gray50;
                        font-family: $SpaceMono;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 14px 35px;
                        border-radius: 4px;
                        display: inline-block;
                    }
                }
            }
            .towards-img{
                img{
                    border: solid 6px $gray150;
                    border-radius: 18px;
                }
            }
            
        }
        
    }
}
.footer{
    margin-top: 20px;
    padding-bottom: 105px;
    .container{
        max-width: 1055px;
        margin: 0 auto;
        padding: 0 10px;
        .footer-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            &:before{
                content: "";
                background: #cecbcb;
                width: 100%;
                height: 2px;
                position: absolute;
                z-index: 1;
                top: 0px;
                left: 0px;
            }
            .footer-wrapper-info{
                h4{
                    margin-top: 56px;
                    margin-bottom: 55px;
                }
                p{
                    max-width: 337px;
                    margin: 0 auto;
                }
            }
            .footer-wrapper-social{
                margin-top: 90px;
                a{
                    margin-right: 52px;
                }
            }
        }
    }
}