@font-face {
  font-family: "Space Mono";
  src: url("../fonts/../fonts/SpaceMono-Italic.woff2") format("woff2"), url("../fonts/../fonts/SpaceMono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/../fonts/SpaceMono-Regular.woff2") format("woff2"), url("../fonts/../fonts/SpaceMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/../fonts/SpaceMono-BoldItalic.woff2") format("woff2"), url("../fonts/../fonts/SpaceMono-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/../fonts/SpaceMono-Bold.woff2") format("woff2"), url("../fonts/../fonts/SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-ExtraLight.woff2") format("woff2"), url("../fonts/WorkSans-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-ExtraLightItalic.woff2") format("woff2"), url("../fonts/WorkSans-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/WorkSans-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans Hairline";
  src: url("../fonts/WorkSans-Hairline.woff2") format("woff2"), url("../fonts/WorkSans-Hairline.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Light.woff2") format("woff2"), url("../fonts/WorkSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Medium.woff2") format("woff2"), url("../fonts/WorkSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Italic.woff2") format("woff2"), url("../fonts/WorkSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-LightItalic.woff2") format("woff2"), url("../fonts/WorkSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Italic.woff2") format("woff2"), url("../fonts/WorkSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Italic.woff2") format("woff2"), url("../fonts/WorkSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-MediumItalic.woff2") format("woff2"), url("../fonts/WorkSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-SemiBoldItalic.woff2") format("woff2"), url("../fonts/WorkSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Bold.woff2") format("woff2"), url("../fonts/WorkSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-BoldItalic.woff2") format("woff2"), url("../fonts/WorkSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-SemiBold.woff2") format("woff2"), url("../fonts/WorkSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Black.woff2") format("woff2"), url("../fonts/WorkSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Thin.woff2") format("woff2"), url("../fonts/WorkSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-ThinItalic.woff2") format("woff2"), url("../fonts/WorkSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-BlackItalic.woff2") format("woff2"), url("../fonts/WorkSans-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-ExtraBold.woff2") format("woff2"), url("../fonts/WorkSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 16px;
}

body {
  font-family: "Space Mono", sans-serif, "Work Sans", "Roboto", sans-serif, sans-serif;
}

.header-container {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 10px;
}

.container {
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
}

.common-text {
  font-family: "Space Mono", sans-serif, "Work Sans", "Roboto", sans-serif, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.common-blue-headlines {
  font-family: "Space Mono", sans-serif, "Work Sans", "Roboto", sans-serif, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #4A50BB;
}

.footer-common-text {
  font-family: "Space Mono", sans-serif, "Work Sans", "Roboto", sans-serif, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #2D3037;
}

.footer-common-headlines {
  font-family: "Work Sans", "Roboto", sans-serif, "Space Mono", sans-serif, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #2D3037;
}

.main-button {
  font-family: "Space Mono", sans-serif, "Work Sans", "Roboto", sans-serif, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FEFEFE;
  background: linear-gradient(90deg, #4A50BB -7.49%, rgba(102, 157, 248, 0.87) 144.39%);
  border-radius: 5px;
  padding: 13px 27px 14px 26px;
  text-decoration: none;
  transition: 1.3s;
}

.buttons-font {
  font-family: "Work Sans", "Roboto", sans-serif, "Space Mono", sans-serif, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #2D3037;
  text-decoration: none;
}

.text-about-person {
  font-family: "Work Sans", "Roboto", sans-serif, "Space Mono", sans-serif, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #4A50BB;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.header {
  padding-top: 50px;
}
.header .container-header {
  max-width: 1260px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header .container-header .menu {
  display: flex;
  align-items: center;
}
.header .container-header .menu .sub-menu {
  display: flex;
}
.header .container-header .menu .sub-menu li {
  list-style: none;
}
.header .container-header .menu .sub-menu li a {
  font-family: "Work Sans", "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #2D3037;
  text-decoration: none;
  padding-right: 42px;
}
.header .container-header .menu .sub-menu li a:hover {
  color: rgb(52, 60, 206);
}
.header .container-header .menu .select-header {
  padding-top: 5px;
}
.header .container-header .menu .select-header select {
  max-width: 100px;
  font-family: "Work Sans", "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #2D3037;
  padding: 8px 0 8px 9px;
  border: 1px solid #2D3037;
  border-radius: 5px;
}
.header .container-header .menu .select-header select:hover {
  cursor: pointer;
}
.header .container-header .menu .select-header select:focus {
  outline: none;
}
.header .container-header .menu .btn-header {
  padding-left: 66px;
}
.header .container-header .menu .btn-header a {
  background: linear-gradient(90deg, #4A50BB -12.35%, #669DFF 112.35%);
  text-decoration: none;
  padding: 13px 28px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #FEFEFE;
}

.career .container-career {
  max-width: 1220px;
  margin: 0 auto;
  padding: 117px 40px 49px 40px;
}
.career .container-career .career-block1 {
  display: flex;
  align-items: center;
}
.career .container-career .career-block1 .career-text {
  background: url(../img/program/bg-block1.png);
  margin-right: 27px;
  max-width: 449px;
}
.career .container-career .career-block1 .career-text h1 {
  font-family: "Work Sans", "Roboto", sans-serif;
  color: #4A50BB;
  font-size: 64px;
  font-weight: 700;
  line-height: 79px;
  text-transform: uppercase;
  text-align: center;
}
.career .container-career .career-block1 .career-img img {
  border: solid 3px gray;
  border-radius: 14px;
}
.career .container-career .career-block2 {
  display: flex;
  justify-content: space-between;
  padding-top: 61px;
  max-width: 1015px;
  margin: 0 auto;
}
.career .container-career .career-block2 .career-desc p {
  max-width: 833px;
  font-family: "Space Mono", sans-serif;
}
.career .container-career .career-block2 .career-desc p:nth-child(2) {
  margin-top: 50px;
  margin-bottom: 75px;
}
.career .container-career .career-block2 .career-desc p:nth-child(3) {
  margin-bottom: 50px;
}
.career .container-career .career-block2 .btn-career {
  align-self: end;
  margin-left: 31px;
}
.career .container-career .career-block2 .btn-career a {
  background: linear-gradient(90deg, #4A50BB -12.35%, #669DFF 112.35%);
  text-decoration: none;
  padding: 13px 28px;
  text-transform: uppercase;
  border-radius: 5px;
  color: #FEFEFE;
  display: block;
}

.apply {
  padding-top: 78px;
  padding-bottom: 83px;
  background: #F7F9FE;
}
.apply .container-apply {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.apply .container-apply .apply-title {
  margin-left: 40px;
}
.apply .container-apply .apply-title h2 {
  font-family: "Space Mono", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #4A50BB;
}
.apply .container-apply .apply-text-wrap {
  display: flex;
  justify-content: space-between;
}
.apply .container-apply .apply-text-wrap .apply-text p {
  max-width: 464px;
  color: #000;
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  line-height: 30px;
}
.apply .container-apply .apply-text-wrap .apply-list {
  position: relative;
  max-width: 519px;
}
.apply .container-apply .apply-text-wrap .apply-list ul li {
  list-style: none;
  color: #000;
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  margin-bottom: 45px;
}
.apply .container-apply .apply-text-wrap .apply-list ul li:before {
  content: url(../img/program/chevron-right.png);
  position: absolute;
  left: -4px;
  background: #E7F0FF;
  border-radius: 16px;
  box-shadow: 20px 17px 22px 12px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 7px 8px 15px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 20px 17px 22px 12px rgba(0, 0, 0, 0.66);
}

.program {
  padding-top: 73px;
  padding-bottom: 61px;
}
.program .container-program {
  max-width: 1089px;
  margin: 0 auto;
}
.program .container-program h2 {
  font-family: "Space Mono", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #4A50BB;
}
.program .container-program .program-wrap {
  display: flex;
}
.program .container-program .program-wrap .program-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.program .container-program .program-wrap .program-btns a {
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, #4A8CBB -7.49%, #669DF8 144.39%);
  padding: 14px 45px;
  border-radius: 10px;
}
.program .container-program .program-wrap .program-btns .program-btn1 {
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, #4A8CBB -7.49%, #669DF8 144.39%);
  border-radius: 10px;
  padding: 14px 45px;
}

.project {
  background: #E1E9F6;
}
.project .container-project {
  max-width: 1260px;
  margin: 0 auto;
}
.project .container-project .project-title {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.project .container-project .project-title .final {
  background: url(../img/program/bg-block4.png);
  max-width: 608px;
}
.project .container-project .project-title .final h3 {
  color: #121665;
  font-size: 20px;
  font-family: "Space Mono", sans-serif;
  font-weight: 700;
  margin-left: 89px;
}
.project .container-project .project-title .final p {
  max-width: 466px;
  text-align: start;
  margin: 0 auto;
  padding: 0 72px;
}
.project .container-project .project-title h1 {
  color: #4A50BB;
  font-size: 64px;
  font-family: "Work Sans", "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.project .container-project .project-img {
  padding: 0 50px;
}
.project .container-project .project-img img {
  margin-top: -70px;
  z-index: 1;
  border: solid 6px #E1E9F6;
  border-radius: 18px;
}
.project .container-project .project-btn {
  margin-left: 89px;
  margin-top: 26px;
}
.project .container-project .project-btn a {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, #4A8CBB -7.49%, #669DF8 144.39%);
  color: #FEFEFE;
  font-family: "Space Mono", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 35px;
  border-radius: 7px;
  display: inline-block;
}

.towards {
  background: #E1E9F6;
  padding-top: 50px;
  padding-bottom: 115px;
}
.towards .container-towards {
  max-width: 1155px;
  margin: 0 auto;
}
.towards .container-towards .towards-wrap {
  display: flex;
  justify-content: space-between;
}
.towards .container-towards .towards-wrap .towards-text p {
  max-width: 451px;
}
.towards .container-towards .towards-wrap .towards-text .towards-btn {
  margin-top: 25px;
}
.towards .container-towards .towards-wrap .towards-text .towards-btn a {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(90deg, #4A8CBB -7.49%, #669DF8 144.39%);
  color: #FEFEFE;
  font-family: "Space Mono", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 35px;
  border-radius: 4px;
  display: inline-block;
}
.towards .container-towards .towards-wrap .towards-img img {
  border: solid 6px #E1E9F6;
  border-radius: 18px;
}

.footer {
  margin-top: 20px;
  padding-bottom: 105px;
}
.footer .container {
  max-width: 1055px;
  margin: 0 auto;
  padding: 0 10px;
}
.footer .container .footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.footer .container .footer-wrapper:before {
  content: "";
  background: #cecbcb;
  width: 100%;
  height: 2px;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}
.footer .container .footer-wrapper .footer-wrapper-info h4 {
  margin-top: 56px;
  margin-bottom: 55px;
}
.footer .container .footer-wrapper .footer-wrapper-info p {
  max-width: 337px;
  margin: 0 auto;
}
.footer .container .footer-wrapper .footer-wrapper-social {
  margin-top: 90px;
}
.footer .container .footer-wrapper .footer-wrapper-social a {
  margin-right: 52px;
}/*# sourceMappingURL=program.css.map */